{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<style>
.background {
  background-image: url("{% static 'images/studentbg.jpg' %}");
  background-size: 80%;
  width: 100%;
  height: 100%;
}
</style>
<h2>Master Home Page</h2>
<body class="background">
<table align="center">
  <tr>
    <td><a href="{% url 'a_task' %}"><input type="button" value="Assign Task"></a></td>
    <td> <a href="{% url 'alltask' %}"><input type="button" value="View Assigned Tasks"></a></td>
  </tr>
</table>
</body>
{% endblock %}